<div style="margin-left: 30px; margin-right: 30px;">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid justify-content-start">
      <div class="d-none d-lg-flex">
        <h2 class="navbar-brand"> 📚 </h2>
      </div>
      <!-- Buttons visible on larger screens -->
      <div class="d-none d-lg-flex">

        <button class="btn btn-outline-success me-2 custom-btn" (click)="goto_Students()" type="button">
          Students <i class="badge badge-pill badge-light">&#9733;</i>
        </button>

        <button class="btn btn-outline-success me-2 custom-btn" (click)="goto_AddStudent()" type="button">
          Add Student <i class="badge badge-pill badge-light">+</i>
        </button>

        <button class="btn btn-outline-success me-2 custom-btn" (click)="goto_Exams()" type="button">
          Exams <i class="badge badge-pill badge-primary">&#9733;</i>
        </button>

        <button class="btn btn-outline-secondary me-2 custom-no-border" disabled="true" type="button">
          Add Exam <i class="badge badge-pill badge-light">+</i>
        </button>
      </div>

      <!-- Dropdown visible on smaller screens -->
      <div class="dropdown d-lg-none">
        <button class="btn btn-outline-success dropdown-toggle custom-btnSmall" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
          Menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" (click)="goto_Students()">Students <i
                class="badge badge-pill badge-light">10</i></a></li>
          <li><a class="dropdown-item" (click)="goto_Exams()">Exams <i
                class="badge badge-pill badge-primary">{{CQArray.length}}</i></a></li>
          <li><a class="dropdown-item" (click)="goto_AddStudent()">Add Student <i
                class="badge badge-pill badge-light">+</i></a></li>
        </ul>
      </div>

      <div class="ms-auto">


        <!-- Buttons visible on larger screens -->

        <div class="d-none d-lg-flex">

          <div class="btn-group">

            <h2 class="navbar-brand">🔍</h2>
          </div>



          <div class="btn-group">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01"
                style="width: 60px; height: 30px; font-size: 12px;">Std</label>
              <select class="form-select" id="inputGroupSelect01" (change)="filterQuestions()" [(ngModel)]="searchtext1"
                style="width: 100px; height: 30px; font-size: 12px;">
                <option value="" selected>All</option>
                <option value="k1">k1</option>
                <option value="k2">k2</option>
                <option value="1">First</option>
                <option value="2">Second</option>
              </select>
            </div>
          </div>


          <div class="btn-group">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect02"
                style="width: 60px; height: 30px; font-size: 12px;">Sub</label>
              <select class="form-select" id="inputGroupSelect02" (change)="filterQuestions()" [(ngModel)]="searchtext2"
                style="width: 100px; height: 30px; font-size: 12px;">
                <option value="" selected>All</option>
                <option value="eng">English</option>
                <option value="math">Math</option>
                <option value="marathi">Marathi</option>
                <option value="evs">EVS</option>
              </select>
            </div>
          </div>

          <div class="btn-group">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect03"
                style="width: 60px; height: 30px; font-size: 12px;">Type</label>
              <select class="form-select" id="inputGroupSelect03" (change)="filterQuestions()" [(ngModel)]="searchtext3"
                style="width: 100px; height: 30px; font-size: 12px;">
                <option value="" selected>All</option>
                <option value="mr01">One</option>
                <option value="mr02">Two</option>
                <option value="mr03">Three</option>
                <option value="mr04">Four</option>
                <option value="mr05">Five</option>
              </select>
            </div>
          </div>
        </div>



        <!-- Dropdown visible on smaller screens -->
        <div class="dropdown d-lg-none">
          <div class="btn-group">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01"
                style="width: 50px; height: 30px; font-size: 12px;">Std</label>
              <select class="form-select" id="inputGroupSelect01" (change)="filterQuestions()" [(ngModel)]="searchtext1"
                style="width: 120px; height: 30px; font-size: 12px;">
                <option value="" selected>🔍 All</option>
                <option value="K1">LKG</option>
                <option value="ukg">UKG</option>
                <option value="1">First</option>
                <option value="2">Second</option>
              </select>
            </div>
          </div>


          <div class="btn-group">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect02"
                style="width: 50px; height: 30px; font-size: 12px;">Sub</label>
              <select class="form-select" id="inputGroupSelect02" (change)="filterQuestions()" [(ngModel)]="searchtext2"
                style="width: 120px; height: 30px; font-size: 12px;">
                <option value="" selected>🔍 All</option>
                <option value="eng">English</option>
                <option value="math">Math</option>
                <option value="Marathi">Marathi</option>
                <option value="evs">EVS</option>
              </select>
            </div>
          </div>

          <div class="btn-group">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect03"
                style="width: 50px; height: 30px; font-size: 12px;">Type</label>
              <select class="form-select" id="inputGroupSelect03" (change)="filterQuestions()" [(ngModel)]="searchtext3"
                style="width: 120px; height: 30px; font-size: 12px;">
                <option value="" selected>🔍 All</option>
                <option value="mr01">One</option>
                <option value="m102">Two</option>
                <option value="mr03">Three</option>
                <option value="mr04">Four</option>
                <option value="mr05">Five</option>
              </select>
            </div>
          </div>

        </div>




      </div>
    </div>
  </nav>



  <div class="row">
    <div class="col-12">
      <br>
      <!-- <h2 style="text-align: center;"><span style="color: brown; ">{{user}}</span></h2> -->
      <!-- <a type="button" class="btn btn-outline-primary" (click)="studentdata()">Students <i
                    class="badge badge-pill badge-light">10</i></a>

            <a type="button" class="btn btn-outline-primary">Exams <i
                    class="badge badge-pill badge-primary">{{CQArray.length}}</i></a>
            <a type="button" class="btn btn-outline-primary">Add Exam <i class="badge badge-pill badge-light">+</i></a> -->
    </div>
  </div>




  <div *ngIf="saved; else saveoption">
    <div class="popup-overlay" id="popupOverlay">
      <div class="popup-content">
        <strong>Exam Saved Successfully!</strong>
        <button class="btn btn-primary close-btn" (click)="toggleAll()">Close</button>
      </div>
    </div>
  </div>



  <ng-template #saveoption>
    <div *ngIf="showQNO" class="alert alert-success">
      <button type="button" [ngClass]="isadded1?'btn btn-secondary': 'btn btn-light'">1</button>
      <button type="button" [ngClass]="isadded2?'btn btn-secondary': 'btn btn-light'">2</button>
      <button type="button" [ngClass]="isadded3?'btn btn-secondary': 'btn btn-light'">3</button>
      <button type="button" [ngClass]="isadded4?'btn btn-secondary': 'btn btn-light'">4</button>
      <button type="button" [ngClass]="isadded5?'btn btn-secondary': 'btn btn-light'">5</button>
      <button type="button" [ngClass]="isadded6?'btn btn-secondary': 'btn btn-light'">6</button>
      <button type="button" [ngClass]="isadded7?'btn btn-secondary': 'btn btn-light'">7</button>
      <button type="button" [ngClass]="isadded8?'btn btn-secondary': 'btn btn-light'">8</button>
      <button type="button" [ngClass]="isadded9?'btn btn-secondary': 'btn btn-light'">9</button>
      <button type="button" [ngClass]="isadded10?'btn btn-secondary': 'btn btn-light'">10</button>

      <div class="form-group" *ngIf="isadded10">
        <div class="popup-overlay" id="popupOverlay">
          <!-- <div class="popup-content"> -->

          <div class="card" style="width: 40rem; height: 32rem;">
            <div class="card-body">
              <div class="card-header">
                <strong>10 Qustions Added</strong>
              </div>
              <br>

              <label for="usr">Exam Name:</label>
              <input type="text" class="form-control" id="examname">
              <br>

              <label for="select-grade">Select Grade:</label>
              <select class="form-control" id="select-grade" name="select-grade">

                <option>K1</option>
                <option>K2</option>
                <option>STD1</option>
                <option>STD2</option>
              </select>
              <br>


              <label for="comment">Description:</label>
              <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Add Description"></textarea>
              <br>

              <button type="button" [ngClass]="isadded10?'btn btn-info': 'btn btn-light'" (click)="savenewquestion()"
                [disabled]="!isadded10">Save</button>



              <button type="button" [ngClass]="isadded10?'btn btn-danger': 'btn btn-light'" (click)="pushNewExam()"
                [disabled]="!isadded10">{{message}}</button>

            </div>
          </div>



        </div>
      </div>
    </div>
  </ng-template>

  <!-- <div class="row">

        <div class="col-12">
            <table>
                <tr>

                    <th>
                        <div class="btn-group">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Std</label>
                                <select class="form-select" id="inputGroupSelect01" (change)="filterQuestions()"
                                    [(ngModel)]="searchtext1">
                                    <option value="" selected>🔍 All</option>
                                    <option value="lkg">LKG</option>
                                    <option value="ukg">UKG</option>
                                    <option value="1">First</option>
                                    <option value="2">Second</option>

                                </select>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect02">Sub</label>
                                <select class="form-select" (change)="filterQuestions()" id="inputGroupSelect02"
                                    [(ngModel)]="searchtext2">
                                    <option value="" selected>🔍 All</option>
                                    <option value="eng">English</option>
                                    <option value="math">math</option>
                                    <option value="mar">Marathi</option>
                                    <option value="evs">EVS</option>

                                </select>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect03">Type</label>
                                <select class="form-select" id="inputGroupSelect03" (change)="filterQuestions()"
                                    [(ngModel)]="searchtext3">
                                    <option value="" selected>🔍 All</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="4">Four</option>
                                    <option value="5">Five</option>

                                </select>
                            </div>
                        </div>

                    </th>
                    <th>

                    </th>

                </tr>
            </table>
        </div>
    </div> -->
  <h4 style="text-align: center;">Question Set</h4>


  <div class="row">
    <div class="questions-section" style=" background-color: #f5f3f1;">
      <div class="questions-container">
        <div class="card " style="width: 15rem; height: 22rem;" *ngFor="let Qcontainer of filteredQuestions">
          <img src="/assets/Demopictures/red-text-any-questions-paper-600nw-2312396111.webp" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">{{Qcontainer.title}}
              ({{Qcontainer.grade}})
            </h5>
            <p class="card-text exam-card ">
              <li>Qnumber- {{Qcontainer.qnumber}}</li>
              <li>Template- {{Qcontainer.template}}</li>
              <li>subject.- {{Qcontainer.qsubject}}</li>
              <li>Topic.- {{Qcontainer.topic}}</li>
              <li>Discription.- {{Qcontainer.description}}</li>
              <li>author.- {{Qcontainer.author}}</li>
            </p>
            <!-- <p class="d-inline-flex gap-1"> -->
            <button class="btn mybutton"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              id="{{Qcontainer.qnumber}}" type="button" (click)="Add_this_Q(Qcontainer.qnumber)">Add Question</button>
            <!-- </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>


</div>