<nav class="navbar bg-body-secondary ">
    <div class="container-fluid justify-content-start ">
        <div class="d-none d-lg-flex ">
            <h2 class="navbar-brand"> 📚 </h2>
        </div>

        Annalysis Performance

    </div>
</nav>

<div class="row" style="margin-top: 30px;">
    <div class="col-6">
      All student Marks  
         <canvas id="MyChart"></canvas>
    </div>
    <div class="col-6"> 
        Performance of all Student 
        <strong>(avrage)</strong> 
        <canvas id="cahrtSuccessRate"></canvas>
    </div>
</div>





<!-- <video  width="340" height="180" controls autoplay>
    <source src="/assets/research.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
 -->