<button style="margin-right: 7px; margin-left: 7px;" class="btn btn-outline-primary" routerLink="create-exam"> crate exam </button>
<button style="margin-right: 7px;"  class="btn btn-outline-primary" routerLink="analysis_performance"> annalysis performance</button>
<button  style="margin-right: 7px;" class="btn btn-outline-primary" routerLink="showcreatedtests">Created exams</button>
<button type="button" class="btn btn-danger" (click)="logout()">Log-out</button>

<router-outlet></router-outlet>