
<div class="button-container">
    <button class="btn btn-outline-primary custom-btn" routerLink="create-exam">Create exam</button>
    <button class="btn btn-outline-primary custom-btn" routerLink="analysis_performance">Analysis performance</button>
    <button class="btn btn-outline-primary custom-btn" routerLink="showcreatedtests">Show created exams</button>
    <button type="button" class="btn btn-danger custom-btn logout-btn" (click)="logout()">Logout</button>
</div>

<router-outlet></router-outlet>
