<p>menu-buttons works!</p>
<div class="d-none d-lg-flex">

    <button class="btn btn-outline-success me-2 custom-btn" (click)="Goto_Students()" [disabled]="Show_btn_All_Stu" type="button">
      Students <i class="badge badge-pill badge-light">&#9733;</i>
    </button>

    <button class="btn  btn-outline-secondary me-2 custom-no-border" (click)="Goto_AddStudents()"   [disabled]="Show_btn_addStu" type="button">
      Add Student <i class="badge badge-pill badge-light">+</i>
    </button>

    <button class="btn btn-outline-success me-2 custom-btn" (click)="Goto_Exmas()" [disabled]="Show_btn_AllExams" type="button">
      Exams <i class="badge badge-pill badge-primary">&#9733;</i>
    </button>

    <button class="btn btn-outline-success me-2 custom-btn" (click)="Goto_AddExmas()" [disabled]="Show_btn_AddExam" type="button">
      Add Exam <i class="badge badge-pill badge-light">+</i>
    </button>

  </div>