<p>show-created-test works!</p>
<!-- {{Qcontainer}} -->
<div style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let exam of Qcontainer" style="margin-right: 20px;">
        <p>Test Created number: {{ incrementIndex() }}</p>
        <table class="table table-success table-striped">
            <thead>
                <tr class="table-warning">
                    <th>Standard</th>
                    <th>Subject</th>
                    <th>Template</th>
                    <th>Question No</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of exam">
                    <td>{{ question.std }}</td>
                    <td>{{ question.sub }}</td>
                    <td>{{ question.template }}</td>
                    <td>{{ question.question }}</td>
                    <td><img style="height: 70px; width: 70px;" src="{{ question.img }}" alt="can't find img"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>