<!-- {{Qcontainer}} -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid justify-content-start">
        <div class="d-none d-lg-flex">

            <h2 class="navbar-brand"> 🏅{{user}} </h2>
        </div>
        <!-- Buttons visible on larger screens -->
        <div class="d-none d-lg-flex">

            <button class="btn btn-outline-success me-2" [disabled]="false" type="button">
                <a (click)="Goto_Students()">Students <i class="badge badge-pill badge-light">10</i></a>
            </button>

            <button class="btn btn-outline-success me-2" [disabled]="disexam" type="button">
                <a >Exams <i class="badge badge-pill badge-primary">{{Qcontainer.length}}</i></a>
            </button>

            <button class="btn btn-outline-success me-2" [disabled]=addexamdisable type="button">
                <a (click)="Goto_AddExams()">Add Exam <i class="badge badge-pill badge-light">+</i></a>
            </button>

        </div>

        <!-- Dropdown visible on smaller screens -->
        <div class="dropdown d-lg-none">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                Menu
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" (click)="Goto_Students()">Students <i
                            class="badge badge-pill badge-light">10</i></a></li>
                <li><a class="dropdown-item">Exams <i class="badge badge-pill badge-primary">{{Qcontainer.length}}</i></a>
                </li>
                <li><a class="dropdown-item" (click)="Goto_AddExams()">Add Exam <i class="badge badge-pill badge-light">+</i></a></li>
            </ul>
        </div>
       

        </div>
</nav>
<div>will see here created exam </div>
<div style="display: flex; flex-wrap: wrap;">

        <div *ngFor="let exam of Qcontainer" style="margin-right: 20px">
          <!-- <p>Test Created number: {{ incrementIndex() }}</p> -->
      
          <div class="card-body"   >
            <div class="card" (click)="senddata(exam)">
              <img
                src="/assets/Demopictures/red-text-any-questions-paper-600nw-2312396111.webp"
                class="card-img-top"
                alt="..."
              />
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <li>f</li>
                <li>j</li>
              </p>
              <p class="d-inline-flex gap-1"></p>
            </div>
          </div>
      
</div>