
canvas {
    width: 100% !important; 
    height: 600px !important;
    max-width: 600px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto; 
    display: block; 
}
