<div style="margin-top: 50px;">




  <nav class="navbar bg-body-secondary">
    <div class="container-fluid justify-content-start">
      <div class="d-none d-lg-flex">
        <h2 class="navbar-brand"> 📚 </h2>
      </div>

      <!-- Memu Buttons  -->
      <app-menu-buttons [Show_btn_All_Stu]="true"></app-menu-buttons>

    </div>
  </nav>
</div>
<!-- Rest of your content remains unchanged -->


<div style="margin-top: 50px; ">
  <div class="container mt-4">
    <div class="card shadow-sm" style="width: 100%; max-width: 1000px; margin: auto;">
      <div class="card-body" style="min-height: 500px;  background-color:  #f5f3f1">


        <div class="row" *ngIf="studentList.length > 0">
          <div class="col-sm-6" *ngFor="let student of studentList">
            <div class="card mb-4 shadow-sm student-card exam-card">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/assets/dummy.jpg" class="card-img exam" alt="Student Image">
                  <h5 class="text-center mt-2">{{student.student_name|titlecase}}</h5>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <ul class="list-unstyled">
                      <li><strong>Id:</strong> {{student.stud}}</li>
                      <li><strong>Grade:</strong> {{student.grade}}</li>
                      <li><strong>Username:</strong> {{student.username}}</li>
                      <li><strong>Reward:</strong> {{student.rewards}}</li>
                      <li><strong> Package</strong> {{student.package}}</li>


                    </ul>

                      <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-warning me-2" data-bs-toggle="modal"
                          data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="editStudent(student)">✏️</button>
                        <button class="btn btn-outline-danger" type="button">
                          🗑
                        </button>
                      </div>


                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Edit Student Form</strong></h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="form-group">
                                <label for="studname">Student Name:</label>
                                <input type="text" class="form-control" id="studname" [(ngModel)]="newStudent.studentName"
                                  (blur)="validateStudentName()">
                                <small class="text-danger" *ngIf="nameValidationMessage">{{nameValidationMessage}}</small><br>
                        
                                <label for="rollnumber">Roll Number:</label>
                                <input type="text" class="form-control" id="studentid" [(ngModel)]="newStudent.studentId"><br>
                        
                                <label for="selectgrade">Select Grade:</label>
                                <select class="form-control" id="selectgrade" [(ngModel)]="newStudent.grade" (blur)="validateGrade()">
                                  <option>K1</option>
                                  <option>K2</option>
                                  <option>STD1</option>
                                  <option>STD2</option>
                                </select>
                                <small class="text-danger" *ngIf="gradeValidationMessage">{{gradeValidationMessage}}</small> <br>
                        
                                <label for="susername">Username:</label>
                                <input type="text" class="form-control" id="susername" [(ngModel)]="newStudent.username"
                                  (blur)="validateUsername()">
                                <small class="text-danger" *ngIf="usernameValidationMessage">{{usernameValidationMessage}}</small><br>
                        
                                <label for="password">Password:</label>
                                <input type="text" class="form-control" id="password" [(ngModel)]="newStudent.passkey"
                                  (blur)="validatePassword()">
                                <small class="text-danger" *ngIf="passwordValidationMessage">{{passwordValidationMessage}}</small>
                                <br>
                                <label for="Std_pic">Picture:</label>
                                <input type="file" class="form-control" id="Std_pic" (change)="uploadValidPic($event)">
                                <small class="text-danger" *ngIf="img_validation_msg">{{img_validation_msg}} </small>
                              </div>
                            </div>
                        
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    
                            </div>
                        
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <!-- <p class="d-inline-flex gap-1">
                        <button class="btn mybutton" type="button"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                          (click)="Add_this_Student(student.id)"> Update </button>
                      </p> -->


                </div>
              </div>
            </div>
          </div>
        </div>



        <div *ngIf="isLoaderActive==true; else elseBlock" style="display: flex; justify-content: center;  ">

          <app-loader></app-loader>

        </div>

        <!-- This content is displayed if the condition is false -->
        <ng-template #elseBlock>

          <div *ngIf="studentList.length==0">

            <h2>Students not found</h2>
            <img src="/assets/nocontent.png" class="card-img" alt="...">
            <h3 [routerLink]="['/Add-Student']">click here to Add Student </h3>

          </div>

        </ng-template>








      </div>
    </div>

  </div>
</div>


 
