<div style="margin-top: 50px;">




  <nav class="navbar bg-body-secondary">
    <div class="container-fluid justify-content-start">
      <div class="d-none d-lg-flex">
        <h2 class="navbar-brand"> 📚 </h2>
      </div>

      <!-- Memu Buttons  -->
      <app-menu-buttons [Show_btn_All_Stu]="true"></app-menu-buttons>

    </div>
  </nav>
  <!-- Rest of your content remains unchanged -->


  <div style="margin-top: 50px; ">
    <div class="container mt-4">
      <div class="card shadow-sm" style="width: 100%; max-width: 1000px; margin: auto;">
        <div class="card-body" style="min-height: 500px;  background-color:  #f5f3f1">


          <div class="row" *ngIf="studentList.length > 0">
            <div class="col-sm-6" *ngFor="let student of studentList">
              <div class="card mb-4 shadow-sm student-card exam-card">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/assets/dummy.jpg" class="card-img exam" alt="Student Image">
                    <h5 class="text-center mt-2">{{student?.student_name|titlecase}}</h5>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <ul class="list-unstyled">
                        <!-- <li><strong>Id:</strong> {{student.stud}}</li> -->
                        <li><strong>Grade:</strong> {{student.grade}}</li>
                        <li><strong>Username:</strong> {{student.username}}</li>
                        <li><strong>Reward:</strong> {{student.rewards}}</li>
                        <li><strong>Package:</strong> {{student.package}}</li>


                      </ul>

                      <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-warning me-2" data-bs-toggle="modal"
                          data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                          (click)="editStudent(student)">✏️</button>
                        <button class="btn btn-outline-danger" type="button">
                          🗑
                        </button>
                      </div>



                    </div>
                  </div>

                </div>



              </div>
            </div>



          </div>

          <!-- Enroll Students -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
            data-bs-backdrop="static">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Edit Student Form</strong>
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeReset()"></button>
                </div>
                <div class="modal-body">
                  <div class="form-group" [formGroup]="studentForm">

                    <!--Student Name -->
                    <label for="studname">Student Name:</label>
                    <input type="text" formControlName="StudentName" class="form-control" id="studname">
                    <div class="text-danger">
                      <span
                        *ngIf="studentForm.controls['StudentName'].touched && studentForm.controls['StudentName'].errors?.['required']">
                        {{ ConstantDB.VALIDATION_MSG.THIS_IS_REQ}}
                      </span>
                      <span *ngIf="studentForm.controls['StudentName'].errors?.['pattern']">
                        {{ ConstantDB.VALIDATION_MSG.NAME_SHOULD_ALPHABATES}}
                      </span>
                    </div>

                    <!--Roll Number -->
                    <label for="rollnumber">Roll Number:</label>
                    <input type="text" class="form-control" id="studentid" formControlName="RollNumber"><br>
                    <div class="text-danger">
                      <span
                        *ngIf="studentForm.controls['RollNumber'].touched && studentForm.controls['RollNumber'].errors?.['required']">
                        {{ ConstantDB.VALIDATION_MSG.THIS_IS_REQ}}
                      </span>
                    </div>

                    <!-- grade -->
                    <label for="selectgrade">Select Grade:</label>
                    <select formControlName="SelectGrade" class="form-control" id="selectgrade">
                      <option>K1</option>
                      <option>K2</option>
                      <option>STD1</option>
                      <option>STD2</option>
                    </select>
                    <div class="text-danger">
                      <span
                        *ngIf="studentForm.controls['SelectGrade'].touched && studentForm.controls['SelectGrade'].errors?.['required']">
                        {{ ConstantDB.VALIDATION_MSG.THIS_IS_REQ}}
                      </span>
                    </div>


                    <!--Username-->
                    <label for="susername">Username:</label>
                    <input type="text" formControlName="Username" class="form-control" id="susername">
                    <div class="text-danger">
                      <span
                        *ngIf="studentForm.controls['Username'].touched && studentForm.controls['Username'].errors?.['required']">
                        {{ ConstantDB.VALIDATION_MSG.THIS_IS_REQ}}
                      </span>
                      <span *ngIf="studentForm.controls['Username'].errors?.['minlength']">
                        {{ ConstantDB.VALIDATION_MSG.USERNM_MIN_LENGTH}}
                      </span>
                    </div>

                    <!--Password-->
                    <label for="password">Password:</label>
                    <input type="password" formControlName="Password" class="form-control" id="password">
                    <div class="text-danger">
                      <span
                        *ngIf="studentForm.controls['Password'].touched && studentForm.controls['Password'].errors?.['required']">
                        {{ ConstantDB.VALIDATION_MSG.THIS_IS_REQ}}
                      </span>
                      <span *ngIf="studentForm.controls['Password'].errors?.['minlength']">
                        {{ ConstantDB.VALIDATION_MSG.PASS_MIN_LENGTH}}
                      </span>
                      <span *ngIf="studentForm.controls['Password'].errors?.['pattern']">
                        {{ ConstantDB.VALIDATION_MSG.PASS_PATTERN}}
                      </span>
                    </div>

                    <!--Picture-->
                    <label for="Std_pic">Picture:</label>
                    <input type="file" formControlName="Picture" class="form-control" id="Std_pic"
                      (change)="uploadValidPic($event)">
                    <div class="text-danger">
                      <span
                        *ngIf="studentForm.controls['Picture'].touched && studentForm.controls['Picture'].errors?.['required']">
                        {{ ConstantDB.VALIDATION_MSG.THIS_IS_REQ}}
                      </span>

                      <span *ngIf="studentForm.invalid&&studentForm.touched">{{img_validation_msg}}
                      </span>
                    </div>
                  </div>


                  <!-- submit -->
                  <div class="modal-footer">
                    <span (click)="cheakAllCredentials()">
                      <button [disabled]="studentForm.invalid" type="button" class="btn btn-success"
                        data-bs-dismiss="modal">{{message}}</button>
                    </span>

                    <!-- close -->
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                      (click)="closeReset()">Close</button>

                  </div>

                </div>
              </div>

              <span class="text-danger" *ngIf="studentForm.invalid&&studentForm.touched"><b>*Fill Required
                  Data</b></span>

            </div>




            <div *ngIf="isLoaderActive==true; else elseBlock" style="display: flex; justify-content: center;  ">

              <app-loader></app-loader>

            </div>

            <!-- This content is displayed if the condition is false -->
            <ng-template #elseBlock>

              <div *ngIf="studentList.length==0">

                <h2>Students not found</h2>
                <img src="/assets/nocontent.png" class="card-img" alt="...">
                <h3 [routerLink]="['/Add-Student']">click here to Add Student </h3>

              </div>

            </ng-template>


          </div>
        </div>


      </div>
    </div>
  </div>