<!-- Navbar -->
<div [ngClass]="{ overlay: isfreeze }">
  <nav class="navbar">
    <button *ngIf="H_threeline" class="menu-toggle" (click)="menudesign(1)">
      ☰
    </button>
    <button *ngIf="V_threeline" class="menu-toggle" (click)="menudesign(2)">
      <img src="ic_launcher.png" width="24px" height="24px">
    </button>

    <div class="navbar-brand">
      <span class="brand-name">Zedpea Teachers</span>
    </div>

    <div class="topnav-right">
      <span class="brand-name">⚜️{{titleuser}}</span>
    </div>
  </nav>

  <!-- Sidebar -->

  <div class="w3-sidebar w3-bar-block sidebar-card" [ngClass]="{ active: isSidebarActive }" *ngIf="isSidebarActive">
    <div class="sidebar">


      <!-- Exam Section with Dropdown -->
      <div class="w3-bar-item w3-button dropdown-toggle" (click)="toggleDropdown('Exam-Center')"
      data-bs-toggle="tooltip"
     data-bs-placement="top"
     data-bs-custom-class="custom-tooltip"
     title="View Exam Center">
        Exam Center
      </div>

      <div style="background-color: rgb(245, 219, 159)" *ngIf="isExamCenterActive">
        <div class="innernav w3-bar-item" routerLink="Exam-Center/AddExam" (click)="menudesign(2)"
        data-bs-toggle="tooltip"
     data-bs-placement="top"
     data-bs-custom-class="custom-tooltip"
     title="Add Exam from here">
          Add Exam
        </div>
        <div class="innernav w3-bar-item" routerLink="Exam-Center/ShowExam" (click)="menudesign(2)"
        data-bs-toggle="tooltip"
     data-bs-placement="top"
     data-bs-custom-class="custom-tooltip"
     title="show exam of the students">
          Show Exam
        </div>
      </div>


      <!-- Students Section with Dropdown -->
      <div class="w3-bar-item w3-button dropdown-toggle" (click)="toggleDropdown('ClassRoom')"
      data-bs-toggle="tooltip"
     data-bs-placement="top"
     data-bs-custom-class="custom-tooltip"
     title="Classroom of the students">
        Classroom
      </div>

      <div style="background-color: rgb(245, 219, 159)" *ngIf="IsClassroomActive">
        <div class="innernav w3-bar-item" (click)="menudesign(2)" routerLink="Add-Student"
        data-bs-toggle="tooltip"
     data-bs-placement="top"
     data-bs-custom-class="custom-tooltip"
     title="Enrollments of the studnets">
          Enrollment
        </div>
        <div class="innernav w3-bar-item" (click)="menudesign(2)" routerLink="Show-Student"
        data-bs-toggle="tooltip"
     data-bs-placement="top"
     data-bs-custom-class="custom-tooltip"
     title="Students information">
          Students
        </div>
      </div>


      <div class="w3-bar-item w3-button" routerLink="Exam-Center/analysis_performance" (click)="menudesign(2)"
      data-bs-toggle="tooltip"
     data-bs-placement="top"
     data-bs-custom-class="custom-tooltip"
     title="Performance analysis of the students">
        Performance Analysis</div>

      <div class="w3-bar-item w3-button" routerLink="timetable"
      data-bs-toggle="tooltip"
     data-bs-placement="top"
     data-bs-custom-class="custom-tooltip"
     title=" see Timetable of the students">Timetable</div>

      <div class="w3-bar-item w3-button" routerLink="attendance"
      data-bs-toggle="tooltip"
     data-bs-placement="top"
     data-bs-custom-class="custom-tooltip"
     title="Attendance of the students">Attendance</div>

      <div class="w3-bar-item w3-button" routerLink="plans"
      data-bs-toggle="tooltip"
     data-bs-placement="top"
     data-bs-custom-class="custom-tooltip"
     title="Pricing& plans">Pricing & Plans</div>

      <div class="btn btn-danger logout-btn" (click)="logout()" (click)="menudesign(2)"
      data-bs-toggle="tooltip"
     data-bs-placement="top"
     data-bs-custom-class="custom-tooltip"
     title="Logout">
        Logout
      </div>

      <br><br>
    </div>
  </div>

    <div class="mx-4"> <!-- mx-4 is equivalent to margin-left and margin-right of 1.5rem -->
        <router-outlet></router-outlet>
    </div>


</div>