<!-- Navbar -->
<div [ngClass]="{ overlay: isfreeze }">
  <nav class="navbar">
    <button *ngIf="H_threeline" class="menu-toggle" (click)="toggleSidebar()" (click)="freezepage()"
      (click)="menudesign(1)">
      ☰
    </button>
    <button *ngIf="V_threeline" class="menu-toggle" (click)="toggleSidebar()" (click)="freezepage()"
      (click)="menudesign(2)">
      <img src="ic_launcher.png" width="24px" height="24px">
    </button>

    <div class="navbar-brand">
      <span class="brand-name">Zedpea Teachers</span>
    </div>
  </nav>

  <!-- Sidebar -->

  <div class="w3-sidebar w3-bar-block sidebar-card" [ngClass]="{ active: isSidebarActive }">
    <div class="sidebar">
      <!-- Exam Section with Dropdown -->
      <div class="w3-bar-item w3-button dropdown-toggle" (click)="toggleDropdown('Exam-Center')">
        Exam Center
      </div>
      <div style="background-color: rgb(245, 219, 159)" *ngIf="isExamCenterActive">
        <div class="innernav w3-bar-item" (click)="goto_createexam()" (click)="toggleSidebar()" (click)="freezepage()"
          (click)="menudesign(2)">
          Add Exam
        </div>
        <div class="innernav w3-bar-item" (click)="goTo_showcreatedtests()" (click)="toggleSidebar()" (click)="freezepage()"
          (click)="menudesign(2)">
          Show Exam
        </div>
      </div>
  
      <div class="w3-bar-item w3-button" routerLink="timetable">Timetable</div>
  
      <!-- Students Section with Dropdown -->
      <div class="w3-bar-item w3-button dropdown-toggle" (click)="toggleDropdown('ClassRoom')">
        Classroom
      </div>
      <div style="background-color: rgb(245, 219, 159)" *ngIf="IsClassroomActive">
        <div class="innernav w3-bar-item" (click)="goTo_showcreatedclassroom()" (click)="toggleSidebar()"
          (click)="freezepage()" (click)="menudesign(2)">
          Enrollment
        </div>
        <div class="innernav w3-bar-item" (click)="goTo_showcreatedclassroom()" (click)="toggleSidebar()"
          (click)="freezepage()" (click)="menudesign(2)">
          Students
        </div>
      </div>
  
      <div class="w3-bar-item w3-button" routerLink="attendance">Attendance</div>
      <div class="w3-bar-item w3-button" routerLink="plans">Pricing & Plans</div>

      <!-- User Control -->
      <div class="btn btn-danger custom-btn logout-btn" (click)="logout()" (click)="toggleSidebar()"
        (click)="freezepage()" (click)="menudesign(2)">
        Logout
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>