.btn {
    margin: 10px;
  }
  
  .badge{
    color: black;
  }
  .exam-card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s, background-color 0.2s;
    background-color: white; /* Default card color */
  }
  
  .exam-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f5; /* New background color on hover */
  }
  