<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><span style="color: brown;">{{user}}</span></h2>
            <a type="button" class="btn btn-outline-primary" (click)="studentdata()">Students <i
                    class="badge badge-pill badge-light">10</i></a>

            <a type="button" class="btn btn-outline-primary">Exams <i
                    class="badge badge-pill badge-primary">{{CQArray.length}}</i></a>
            <a type="button" class="btn btn-outline-primary">Add Exam <i class="badge badge-pill badge-light">+</i></a>
        </div>
    </div>


    <div *ngIf="biggerthan10">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Maximum 10 You can SAVE!</strong> Your can create exam of 10 question
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                (click)="canclebiggerthan10warning()"></button>
        </div>
    </div>

    <div *ngIf="saved; else saveoption">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Exam Created !</strong>  Your Exam name is something
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                (click)="toggleAll()"></button>
        </div>
    </div>
    <ng-template #saveoption>
        <div class="alert alert-success">
            <button type="button" [ngClass]="isadded1?'btn btn-secondary': 'btn btn-light'">1</button>
            <button type="button" [ngClass]="isadded2?'btn btn-secondary': 'btn btn-light'">2</button>
            <button type="button" [ngClass]="isadded3?'btn btn-secondary': 'btn btn-light'">3</button>
            <button type="button" [ngClass]="isadded4?'btn btn-secondary': 'btn btn-light'">4</button>
            <button type="button" [ngClass]="isadded5?'btn btn-secondary': 'btn btn-light'">5</button>
            <button type="button" [ngClass]="isadded6?'btn btn-secondary': 'btn btn-light'">6</button>
            <button type="button" [ngClass]="isadded7?'btn btn-secondary': 'btn btn-light'">7</button>
            <button type="button" [ngClass]="isadded8?'btn btn-secondary': 'btn btn-light'">8</button>
            <button type="button" [ngClass]="isadded9?'btn btn-secondary': 'btn btn-light'">9</button>
            <button type="button" [ngClass]="isadded10?'btn btn-secondary': 'btn btn-light'">10</button>
            <button type="button" [ngClass]="isadded10?'btn btn-primary': 'btn btn-light'" (click)="savenewquestion()"
                [disabled]="!isadded10">Save</button>
        </div>
    </ng-template>
    <div class="row">
        <h2>Question Set</h2>

        <div class="col-12">
            <table>
                <tr>
                    <th>

                        <button class="btn btn-warning">Filter</button>
                    </th>
                    <th>
                        <div class="btn-group">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">🔍 Std</label>
                                <select class="form-select" id="inputGroupSelect01" (change)="filterQuestions()"
                                    [(ngModel)]="searchtext1">
                                    <option value="" selected>All</option>
                                    <option value="lkg">LKG</option>
                                    <option value="ukg">UKG</option>
                                    <option value="1">First</option>
                                    <option value="2">Second</option>

                                </select>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect02">🔍Sub</label>
                                <select class="form-select" (change)="filterQuestions()" id="inputGroupSelect02"
                                    [(ngModel)]="searchtext2">
                                    <option value="" selected>All</option>
                                    <option value="eng">English</option>
                                    <option value="math">math</option>
                                    <option value="mar">Marathi</option>
                                    <option value="evs">EVS</option>

                                </select>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="btn-group">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect03">🔍 Type</label>
                                <select class="form-select" id="inputGroupSelect03" (change)="filterQuestions()"
                                    [(ngModel)]="searchtext3">
                                    <option value="" selected>All</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="4">Four</option>
                                    <option value="5">Five</option>

                                </select>
                            </div>
                        </div>

                    </th>
                    <th>

                    </th>

                </tr>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="questions-section">
            <div class="questions-container">
                <div class="card" *ngFor="let Qcontainer of filteredQuestions">
                    <img src="{{Qcontainer.img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            <li>Standerd- {{Qcontainer.std}}</li>
                            <li>Subject- {{Qcontainer.sub}}</li>
                            <li>Template- {{Qcontainer.template}}</li>
                            <li>Qno.- {{Qcontainer.question}}</li>
                        </p>
                        <p class="d-inline-flex gap-1">
                            <button class="btn btn-primary" data-bs-toggle="button" id="{{Qcontainer.id}}" type="button"
                                (click)="Add_this_Q(Qcontainer.id)">Add Question</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>