<!-- <div class="row">
    <div class="questions-section">
        <div class="questions-container">
            <div class="card" *ngFor="let Qcontainer of filteredQuestions">
                <img src="{{Qcontainer.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        <li>Standerd- {{Qcontainer.std}}</li>
                        <li>Subject- {{Qcontainer.sub}}</li>
                    </p>
                    <p class="d-inline-flex gap-1">
                        <button class="btn btn-primary" data-bs-toggle="button" 
                        id="{{Qcontainer.id}}" 
                        type="button" (click)="Add_this_Q(Qcontainer.id)">Add Question</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
  

  -->
<div>
    hello

    df
</div>
<div>
    hello

    df
</div>
<div>
    hello

    df
</div>