<div style="margin-top: 50px;">
    <!-- <nav class="navbar bg-body-secondary">
      <div class="container-fluid justify-content-start">
        <div class="d-none d-lg-flex">
          <h2 class="navbar-brand"> 📚 </h2>
        </div>
      </div>
    </nav> -->
  
  
    <img class="mx-auto d-block" [src]="logo_url" alt="{{logo_url}}" style="width: 250px; height: 250px;" > 
  
  
    <!-- Enroll Students -->
    <div class="card custom-card mt-4" style="background-color:  #f5f3f1;" [formGroup]="studentForm">
      <div class="card-body">
        <div class="form-group">
  
          <!-- Student Name -->
          <label for="studname">Participant Name: </label>
          <input type="text" formControlName="StudentName" class="form-control" id="studname">
          <div class="text-danger">
            <span
              *ngIf="studentForm.controls['StudentName'].touched && studentForm.controls['StudentName'].errors?.['required']">
              This is Required
            </span>
            <span *ngIf="studentForm.controls['StudentName'].errors?.['pattern']">
              The name must contain alphabets!
            </span>
          </div>
  
          <!-- Roll Number -->
          <label for="rollnumber">Phone Number:</label>
          <input type="text" formControlName="RollNumber" class="form-control" id="rollnumber">
          <div class="text-danger">
            <span
              *ngIf="studentForm.controls['RollNumber'].touched && studentForm.controls['RollNumber'].errors?.['required']">
              This is Required
            </span>
          </div>
  
          <!-- Select Grade -->
          <label for="selectgrade">Select Group:</label>
          <select formControlName="SelectGrade" class="form-control" id="selectgrade">
            <option value="A1">Little Champs (4 to 10 Years)</option>
            <option value="B1">Explorar (Above 11)</option>
          </select>
          <div class="text-danger">
            <span
              *ngIf="studentForm.controls['SelectGrade'].touched && studentForm.controls['SelectGrade'].errors?.['required']">
              This is Required
            </span>
          </div>
  
          <!-- Username -->
          <label for="susername">Username:</label>
          <input type="text" formControlName="Username" class="form-control" id="susername">
          <div class="text-danger">
            <span
              *ngIf="studentForm.controls['Username'].touched && studentForm.controls['Username'].errors?.['required']">
              This is Required
            </span>
            <span *ngIf="studentForm.controls['Username'].errors?.['minlength']">
              Username must be at least 6 characters long
            </span>
          </div>
  
          <!-- Password -->
          <label for="password">Password:</label>
          <input type="password" formControlName="Password" class="form-control" id="password">
          <div class="text-danger">
            <span
              *ngIf="studentForm.controls['Password'].touched && studentForm.controls['Password'].errors?.['required']">
              This is Required
            </span>
            <span *ngIf="studentForm.controls['Password'].errors?.['minlength'] else elsepart">
              Password must be at least 6 characters long
            </span>
            <ng-template #elsepart>
              <span *ngIf="studentForm.controls['Password'].errors?.['pattern']">
                Password must contain at least one number and one special character
              </span>
            </ng-template>
  
          </div>
  
          <!-- Picture -->
          <!-- <label for="Std_pic">Picture:</label>
          <input type="file" (change)="uploadValidPic($event)" formControlName="Picture" class="form-control"
            id="Std_pic">
          <div class="text-danger">
            <span *ngIf="studentForm.controls['Picture'].touched && studentForm.controls['Picture'].errors?.['required']">
              Picture is Required
            </span>
  
            <span *ngIf="img_validation_msg">{{img_validation_msg}}</span>
          </div> -->
        </div>
      </div>
  
      <button type="button" [disabled]="message == 'Done'" class="btn mybutton" (click)="saveSelectedStudents()">{{message}}</button>
      <small [ngClass]="iscorrect?'text-success':'text-danger'" *ngIf="ValidationResult" style="margin-top: 20px;">{{ValidationResult}}</small>
    </div>

    <a type="button" class="btn btn-link"> <i class="bi bi-info-square-fill"> Rules</i></a>
    <a type="button" class="btn btn-link"> <i class="bi bi-gift-fill"> Rewards</i></a>
  
  
  
  
  </div>