<div style="margin-top: 50px;">
  <div style="margin-left: 30px; margin-right: 30px;">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid justify-content-start">
        <div class="d-none d-lg-flex">
          <h2 class="navbar-brand"> 📚 </h2>
        </div>

        <!-- Memu Buttons  -->
        <app-menu-buttons [Show_btn_addStu]="true"></app-menu-buttons>


      </div>
    </nav>

  </div>


  <!-- Enroll Students -->
  <div class="card custom-card mt-4" style="background-color:  #f5f3f1;">
    <div class="card-body">
      <div class="form-group">
        <label for="studname">Student Name:</label>
        <input type="text" class="form-control" id="studname" [(ngModel)]="newStudent.studentName"
          (blur)="validateStudentName()">
        <small class="text-danger" *ngIf="nameValidationMessage">{{nameValidationMessage}}</small><br>

        <label for="rollnumber">Roll Number:</label>
        <input type="text" class="form-control" id="studentid" [(ngModel)]="newStudent.studentId">

        <label for="selectgrade">Select Grade:</label>
        <select class="form-control" id="selectgrade" [(ngModel)]="newStudent.grade" (blur)="validateGrade()">
          <option>K1</option>
          <option>K2</option>
          <option>STD1</option>
          <option>STD2</option>
        </select>
        <small class="text-danger" *ngIf="gradeValidationMessage">{{gradeValidationMessage}}</small> <br>

        <label for="susername">Username:</label>
        <input type="text" class="form-control" id="susername" [(ngModel)]="newStudent.username"
          (blur)="validateUsername()">
        <small class="text-danger" *ngIf="usernameValidationMessage">{{usernameValidationMessage}}</small><br>

        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" [(ngModel)]="newStudent.passkey"
          (blur)="validatePassword()">
        <small class="text-danger" *ngIf="passwordValidationMessage">{{passwordValidationMessage}}</small>
        <br>
        <label for="Std_pic">Picture:</label>
        <input type="file" class="form-control" id="Std_pic" (change)="uploadValidPic($event)">
        <small class="text-danger" *ngIf="img_validation_msg">{{img_validation_msg}} </small>
      </div>
    </div>

    <button type="button" class="btn mybutton" (click)="saveSelectedStudents()">{{message}}</button>
    <small [ngClass]="iscorrect?'text-success':'text-danger'" *ngIf="ValidationResult">{{ValidationResult}}</small>

  </div>
</div>